{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <h1 class="text-3xl font-bold mb-6">Courses</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for course in courses %}
            <div class="bg-white  rounded-lg shadow-md p-6 flex flex-col">
                <a href="{% url 'course:detail' course.id %}" class="text-xl text-blue-800 font-semibold mb-2">{{ course.title }}</a>
                <p class="text-gray-600 mb-4">Language: {{ course.language }}</p>
                <p class="text-gray-400 text-sm">Created at: {{ course.created_at|date:"F j, Y" }}</p>
            </div>
        {% empty %}
            <p class="text-gray-500">No courses available.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
